* {
    text-align: center;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.delete {
    color: red;
    cursor: pointer;
}

input:checked + span {
    text-decoration: line-through;
}